<h1>All Restaurants</h1>
<ul>
  <% @restaurants.each do |restaurant|  %>
  <li>
    <h4><%= link_to restaurant.name, restaurant_path(restaurant) %> </h4>
  <% end %>
  </li>
</ul>
<br>
<h6><%= link_to "CREATE RESTAURANT", new_restaurant_path(@restaurant) %></h6>
